<header class="header">
  <p class="logo">yachtjet</p>
  <nav>
    <ul>
      <li><a href="">About</a></li>
      <li><a href=""></a>Yachts</li>
      <li><a href=""></a>Reviews</li>
    </ul>
  </nav>
  <ul>
    <li>
      <a href="">
        <svg class="s-m-icon-header" width="19" height="19">
          <use href="/src/img-header/header.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="">
        <svg class="s-m-icon-header" width="20" height="20">
          <use href="/src/img-header/header.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="">
        <svg class="s-m-icon-header" width="20" height="20">
          <use href="/src/img-header/header.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
  </ul>
  <button type="button" class="header-menu-btn">
    <svg class="header-btn" width="20" height="10">
      <use href="/src/img-header/header.svg#icon-header-menu"></use>
    </svg>
  </button>
</header>
