
<section class="hero">
    <div class="container container__hero">
        <div class="hero__block">
            <div class="hero__title">
                Explore the High Seas with Our Luxury Yacht Rentals
            </div>
            <div class="hero__subtitle">
                Experience the freedom and luxury of yachting on the open seas. Choose from our top-of-the-line yachts and embark on an unforgettable journey surrounded by breathtaking views and state-of-the-art amenities.
            </div>
            <button class="main-btn">Yacht rental</button>
        </div>
    </div>
</section>

