/* MOBILE */
.container {
  max-width: 320px;
  padding: 0 20px;
}

.title-our-yachts {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.wrap-our-yachts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 47px;
}
.wrap-thumb {
}
.benetti {
  display: none;
}
.belle {
  display: none;
}

.wrap-thumb {
  background-color: #fbfbfb;
  border-radius: 10px;
}
.thumb-img {
  max-width: 360px;
  align-content: center;
}
.img-our-yachts {
  margin: 0 auto;
  border-radius: 40px;
  margin-bottom: 29px;
  padding: 19px 16px 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.inner-row {
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.icon-our-yachts {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 2px;
  background-color: rgba(4, 3, 6, 0.1);
  margin-bottom: 16px;
}

.title-yacht-models {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #1b414b;
}
.title-models {
  display: none;
}
.text-luxury {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
  opacity: 0.4;
}
.box-prise {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 32px 32px;
}
.list-price {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.items-price {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
}
.list-luxury {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.items-luxury {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #040306;
}
.our-btn {
  display: block;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  background-color: #0e1823;
  border: 1px solid rgba(251, 251, 251, 0.35);
  border-radius: 15px;
  padding: 14px 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}
.our-btn:hover,
.our-btn:focus {
  color: #1b414b;
  background-color: #fbfbfb;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* MOBILE 375 */

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

/* TABLET */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .title-our-yachts {
    font-size: 48px;
    max-width: 645px;
  }
  .wrap-our-yachts {
    gap: 32px;
  }
  .benetti {
    display: unset;
  }
  .title-yacht-models {
    font-size: 16px;
    line-height: 1.2;
  }
  .text-luxury {
    font-size: 13px;
    line-height: 1.18;
  }
}

/* DESKTOP 1280 */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .title-our-yachts {
    max-width: 714px;
  }
  .belle {
    display: unset;
  }
  .wrap-our-yachts {
    gap: 25px;
  }
}

/* DESKTOP 1440 */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 100px;
  }

  .wrap-our-yachts {
    gap: 32px;
  }
}
